@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


/* ! Var color and font */

:root {
    --white: #FBFAFE;
    --black: #1b1b1b;
    --color-primary: #EF705C;
    --color-bg: #F3F4F8;

    --font-big: 32px;
    --font-middle: 24px;
    --font-normal: 20px;
    --font-small: 16px;

    --font-bold: 700;
    --font-semibold: 600;
    --font-light:400;

}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--black);
    background-color: var(--white);
    font-size: var(--font-small);
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border: none;
}

/* ! Typography */

.font-big {
    font-size: var(--font-big);
}

.font-middle {
    font-size: var(--font-middle);
}

.font-normal {
    font-size: var(--font-normal);
}

.font-small {
    font-size: var(--font-small);
}

.color-primary {
    color: var(--color-primary);
}

.font-bold {
    font-weight: var(--font-bold);
}

.font-semibold {
    font-weight: var(--font-semibold);
}

.font-light {
    font-weight: var(--font-light);
}

/* ! Layouts */

.h-100 {
    min-height: calc(100vh - 40px);
}

.w-100 {
    width: 100%;
}

/* ! Columns */

.column-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.column-center-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

/* ! Row */

.row-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ! Cards */

.card-summary {
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    text-align: left;
    width: 100%;
    max-width: 350px;
}

.card-summary-item {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.card-summary-item:last-child {
    border: none;
}

.card-summary-item p {
    margin: 0;
}

.card-summary-item-link:hover {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

/* ! Buttons */

.button-primary {
    font-size: var(--font-normal);
    background-color: var(--color-primary);
    color: var(--white);
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    text-decoration: none;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.button-primary:hover {
    color: var(--white);
}

.button-outline {
    text-decoration: underline;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
}

.button-outline:hover {
    color: var(--black);
}

.button-reset {
    position: absolute;
    top: 0;
    left: 0;
}

.button-order {
    font-size: var(--font-normal);
    background-color: transparent;
    color: var(--black);
    padding: 10px;
    border: none;
    text-decoration: none;
    margin: 0 5px;

}

.button-primary-product {
    position: fixed;
    bottom: 0;
    max-width: none;
    margin-bottom: 0;
    border-radius: 0;
    padding: 15px;
}

/* ! Input */

.input-container, .select-container {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}

.input-container svg, .select-container svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input-primary, .select-primary {
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 5px 20px rgba(0,0,0,.05);
    color: var(--black);
    text-align: center;
    background-color: var(--white);
}

.input-container .validation, .select-container .validation {
    position: absolute;
    left: 0;
    top: -20px;
    text-align: right;
    width: 100%;
    color: red;
}

/* ! Calendiario */

.react-datepicker__time-list-item--disabled {
    display: none;
}

/* ! utils */

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-40 {
    padding: 40px;
}

.p-20-40 {
    padding: 20px 40px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-80 {
    margin-top: 80px;
}

.pos-rel {
    position: relative;
}

.text-left {
    text-align: left;
}

/* ! Classi aggiunte dinamicamente */

.menu-open {
    transform: translateX(0)!important;
}