.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-big);
    font-weight: var(--font-bold);
    text-align: center;
    background-color: var(--color-primary);
    color: var(--white);
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

.loader svg {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.loader path {
    stroke: #fff; 
  }